.custom-pdp-style table {
    border-radius: 5px;
    width: 100%;
    color: #000;
}

.custom-pdp-style table thead th {
    color: #000;
    font-size: 20px;
    padding: 10px 0;
    text-align: center;
}

.custom-pdp-style table tbody input {
    width: 100%;
    border: none;
    text-align: center;
    height: 45px;
}

.custom-pdp-style table tbody input:focus-visible {
    outline: 0;
    outline-offset: 0;
    box-shadow: none;
}

.custom-pdp-style table tbody td {
    padding: 0;
}

.custom-pdp-style table tbody td.td-text {
    padding: 10px 0;
    text-align: center;
}

.th-sku {
    width: 45%;
}

.th-price {
    width: 25%;
}

.th-quantity {
    width: 30%;
}

.btn-add-cart {
    width: 100%;
    height: 50px;
    margin-top: 25px;
    cursor: pointer;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
}

.btn-add-cart:hover {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    transition: all 0.5s;
}

.td-quantity.disabled {
    cursor: no-drop;
    background-color: #0000000d;
}

.td-quantity.disabled input {
    cursor: no-drop;
    background-color: transparent;
}

.btn-add-cart.disabled {
    cursor: no-drop;
    background-color: #0000000d;
    color: #000;
    border: 1px solid #000;
}

.not-enough-stock p {
    color: red;
    font-size: 15px;
    margin: 5px 0;
}